---
layout: default
---

<!-- 初始时默认的分页功能 -->
<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
      <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.tags }}</span><a class="btn-border-small" href={{ post.url }}>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>

<!--<div class="post-category">
	<!-- 声明排序后的数值 -->
	{% assign sorted_categories  = site.categories %}
    {% for category in sorted_categories %}
      <h1 id="{{ category[0] }}-ref">{{ category[0] }}</h1>
	  </br>
      <ul class="post-list">
	  <!-- 如果想要反向排序使用：{% assign sorted_posts  = category[1] | sort | reverse %} -->
		{% assign sorted_posts  = category[1] | sort %}
        {% for post in sorted_posts %}  <!-- 遍历类别下所有 post -->
            <!-- <li><a href="{{ post.url }}">{{ post.title }}</a></li> -->
			 <li>
				<h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}"><font color='blue'>{{ post.title }}</font></a></h2>
				<p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 50 }}&hellip;</p>
				<div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.tags }}</span><a class="btn-border-small" href={{ post.url }}>继续阅读</a></div>
				<hr class="post-list__divider" />
			</li>
        {% endfor %}
	 </ul>
    {% endfor %}
</div>-->